@import 'libs/normalize';
@import 'style/fonts';
@import 'style/var';
@import 'style/style';

.SF-Pro-Display {
	font-family: 'SF Pro Display';
}

;

.TT-Hoves {
	font-family: 'TT Hoves';
}

;

.TT-Hoves-medium {
	font-family: 'TT Hoves';
	font-weight: 500;
}

;

.TT-Hoves-light {
	font-family: 'TT Hoves';
	font-weight: 300;
}

;

.TT-Hoves-bold {
	font-family: 'TT Hoves';
	font-weight: 700;
}

;